---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
<!--         
      <div class="row center">
        <a href="https://docs.google.com/spreadsheets/d/1RCZk2wY5Ty2JRhTjZ1keajfJ_N4UmzgIRh3KT5Px9zg/edit?usp=sharing" id="download-button" class="btn-large waves-effect waves-light orange">Course Schedule</a>
      </div>
      <br><br>
 -->
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">Readings</h5>

            <p class="light">This course requires a heavy amount of reading. We have provided PDFs of all papers and book chapters on the Canvas site. Additionally, you will find links to the online versions in the dated "Class Activities" below.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">laptop_mac</i></h2>
            <h5 class="center">Practicals</h5>

            <p class="light">The second half of this course will be a series of workshops covering applications in phylogenetic methods for macroevolution. Please come to class prepared to complete the tutorial with your own laptop. (If you do not have access to a laptop, one may be provided for you for use during class time.)</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">star</i></h2>
            <h5 class="center">Grades</h5>

            <p class="light">Students will be evaluated on their performance in three components of the course: (1) a midterm exam, (2) participation, and (3) the final project. For deteails, please see the course syllabus.</p>
          </div>
        </div>
      </div>

    </div>
      
    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Class Activities</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>
</div>

  </div>